*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  line-height: 1.5; /* This requires customizing the line height for larger text. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial, sans-serif;
  transition: background-color 3s ease; /* Smooth transition */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: system-ui;
  /* padding-top: 1em; */
} /* Consider applying this to ALL elements. Also, consider adding `hyphen: auto;`. */ 

p {
  text-wrap: pretty; /* May have a performance impact. */
} /* Remember to use `p` instead of `div` in your HTML if you want this to work. 
Also, consider setting `max-width: 60ch` or smaller. (ch being the width of "0" 
in given `font-size`. (Maybe this belongs on a parent element, though.)*/

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 3em;
  margin-bottom: 0.5rem;
}

.icon > img {
  height: 100%;
}