*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  line-height: 1.5; /* This requires customizing the line height for larger text. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial, sans-serif;
  transition: background-color 3s ease; /* Smooth transition */
  padding: 1rem;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: system-ui;
  /* padding-top: 1em; */
} /* Consider applying this to ALL elements. Also, consider adding `hyphen: auto;`. */ 

p {
  text-wrap: pretty; /* May have a performance impact. */
} /* Remember to use `p` instead of `div` in your HTML if you want this to work. 
Also, consider setting `max-width: 60ch` or smaller. (ch being the width of "0" 
in given `font-size`. (Maybe this belongs on a parent element, though.)*/

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.all-weather {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: min(650px, 95%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.container.weather-container-now {
  grid-row: 1 / -1;
  font-size: 3.5em;
  align-self: center;
}

.icon {
  height: 3em;
  margin-bottom: 0.5rem;
}

/* .container.weather-container-now .icon {
  height: 9em;
} */

.icon > img {
  height: 100%;
}

.city-name {
  font-size: 2.5em;
  font-weight: bold;
}

form {
  display: flex;
  gap: 0.5em;
}

input {
  border: none;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

button {
  border: none;
  border-radius: 0.5em;
  padding: 0 0.5em;
}

button:hover {
  background-color: silver;
}